.promotion-bar {
  color: #fff;
  position: absolute;
  height: 40px;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.35);  
  background-position: center center;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 3;
  top: 7.5vh;
  left: 0;
  right: 0;
  align-items: center;
}

.promotion-message {
  color: rgba(255, 255, 255, 1);
  font-family: 'OratorStd', sans-serif;
  font-size: 12px;
  text-transform: lowercase;
  letter-spacing: 1px;
}

.promotion-bar-close {
  margin-right: 10px;
  height: 40px;
  right: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  display: flex;  
  justify-content: center; 
  align-items: center;
}

.material-icons#close {
  cursor: pointer;
  color: #fff;
  opacity: 1;  
  font-size: 24px;
  padding: 5px;
  margin: 0 5px;
  border-radius: 50%;
  transition-property: opacity;
  transition-duration: 500ms;
}

.material-icons#close:hover {
  opacity: 0.4;
  transition-property: opacity;
  transition-duration: 500ms;
}