
.homepage {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

.carousel-container {
  height: 85vh;
  min-height: 500px;
  display: flex;
}

.SquareSpace {
  max-width: 100vw;
  min-width: 100vw;
  height: 800px;
  display: flex;
}

.NewsSubscribeBarSpace {
  display: flex;
  right: 0;
  left: 0;
  max-height: 50px;
  min-height: 50px;
  overflow: hidden;
}

.FooterSpace {
  display: flex;
  right: 0;
  left: 0;
  max-height: 190px;
  min-height: 190px;
  overflow: hidden;
}

.CopyrightRibbonSpace {
  display: flex;
  max-width: 100vw;
  min-width: 100vw;
  max-height: 30px;
  min-height: 30px;
  justify-content: center;
  overflow: hidden;
}

.Square1 {
  width: 490px;
  height: 390px;
  left: 0;
  position: absolute;
}

.Square2 {
  width: 490px;
  height: 390px;
  margin-top: 410px;
  left: 0;
  position: absolute;
}

.Square3 {
  width: 930px;
  height: 800px;
  right: 0;
  position: absolute;
  display: flex;
}

.Slider {
  margin-top: 50px;
  max-width: 100vw;
  min-width: 100vw;
  max-height: 87vh;
  min-height: 87vh;
}

.Slide1 {
  max-width: 100vw;
  min-width: 100vw;
  background: url('~/Documents/dev/gitrepos/quest-apparel/design/logo/Exports/Quest_Artist_Splash_Purple_Preview-01.png');
  background-size: contain;
}
