.NavLink {
  text-transform: lowercase;
  color: #fff;
  font-family: 'OratorStd', sans-serif;
  display: flex;
  align-items: center;
  padding: 3px 40px 0px 40px;
  font-size: 12px;
  border-bottom: 0 solid #f5494f;
  letter-spacing: 2px;
  transition-duration: .5s;
  transition-property: color background border-bottom;
}

.NavLink:hover {
  text-transform: lowercase;
  color: black;
  background: white;
  font-family: 'OratorStd', sans-serif;
  display: flex;
  align-items: center;
  padding: 3px 40px 3px 40px;
  font-size: 12px;
  border-bottom: 2px solid white;
  letter-spacing: 2px;
  cursor: pointer;
}

@font-face {
  font-family: OratorStd;
  src: url("./OratorStd.otf") format("opentype");
}
