.NavLink {
  text-transform: lowercase;
  color: #fff;
  font-family: 'OratorStd', sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  width: 8.5vw;
  font-size: 10.5px;
  border-bottom: 0 solid rgba(245, 73, 79, 0.00);
  letter-spacing: 1px;
  transition-duration: .5s;
  transition-property: color background border-bottom;
}

.NavLink:hover {
  text-transform: lowercase;
  color: black;
  background: white;
  font-family: 'OratorStd', sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 10.5px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.00);
  letter-spacing: 1px;
  cursor: pointer;
}

@font-face {
  font-family: OratorStd;
  src: url("./OratorStd.otf") format("opentype");
}
