.Header {
  background: #f78f47;
  color: #fff;
  height: 58px;
  display: flex;
  background-position: center center;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  justify-content: center;
}

.Header-logo {
  min-width: 300px;
  max-width: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: absolute;
  max-height: 100%;
  min-height: 100%;
}

.HeaderLeftOfLogo {
  height: 100%;
  display: flex;
  position: absolute;
  right: 62%;
}

.HeaderRightOfLogo {
  height: 100%;
  display: flex;
  position: absolute;
  left: 62%;
}

.Widgets {
  z-index: 3;
  position: absolute;
  align-items: center;
  min-width: 35px;
  max-width: 35px;
  height: 100%;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(219, 84, 45, 0.61),
    rgba(247, 143, 71, 0.30)
  );
}
