.Header {
  background: #f78f47;
  color: #fff;
  height: 58px;
  display: flex;
  justify-content: center;
  background-position: center center;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.Header-logo {
  min-width: 190px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 9px;
  margin-left: 50px;
  margin-right: 50px;
}

.Widgets {
  position: absolute;
  align-items: center;
  min-width: 4vh;
  max-width: 4vh;
  height: 100%;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(219, 84, 45, 0.61),
    rgba(247, 143, 71, 0.30)
  );
}
