.navigation-bar {
  background: #f78f47;
  min-height: 50px;
  height: 7.5vh;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  justify-content: center;
}

.header-logo {
  margin: 0 25px;
  align-self: center;
  max-width: 210px;
  min-width: 210px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 100%;
}

.navigation-left-container {
  height: 100%;
  display: flex;
  flex-direction: row-reverse; 
  flex: 1;
  left: 0;
}

.navigation-right-container {
  height: 100%;
  display: flex;
  flex: 1;
  right: 0;
}

.navigation-widgets-left {
  margin-left: 10px;  
  height: 50px;
  left: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  display: flex;  
  justify-content: center; 
  align-items: center; 
}

.navigation-widgets-right {
  margin-right: 10px;
  height: 50px;
  right: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  display: flex;  
  justify-content: center; 
  align-items: center;   
}

.material-icons#account,
.material-icons#search,
.material-icons#share 
{
  cursor: pointer;
  color: #fff;
  opacity: 1;  
  font-size: 24px;
  padding: 5px;
  margin: 0 5px;
  border-radius: 50%;
  transition-property: opacity;
  transition-duration: 500ms;
}

.material-icons#account:hover,
.material-icons#search:hover,
.material-icons#share:hover 
{
  opacity: 0.4;
  transition-property: opacity;
  transition-duration: 500ms;
}


