.section-header {
  display: flex;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.section-header-line {
  height: 1px;
  background: rgba(0, 0, 0, 0.6);
  flex: 1;
}
.section-header-text {
  font-family: 'OratorStd', sans-serif;
  text-transform: lowercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 45px 0 45px;
}
