.StyleSquare {
  background-size: cover;
  background-position: center center;
  display: flex;
  flex: 1;
  height: 100%;
}

#ContentContainer {
  display: flex;
  flex: 1;
  background: rgba(56, 56, 56, 0);
  background-size: cover;
  cursor: auto;
  transition-property: background;
  transition-duration: 300ms;
}

#ContentContainer:hover {
  background: rgba(56, 56, 56, 0.40);
  cursor: pointer;
  transition-property: background;
  transition-duration: 300ms;
}

#ContentContainer:hover .StyleSquareHover {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.expand-square-modal {
  position: absolute;
  top: 7px;
  right: 7px;
}

.expand-square-modal .material-icons {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.00);
  transition-property: color, background;
  transition-duration: 300ms;
}

.StyleSquare:hover .expand-square-modal .material-icons {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

#SquareHeader {
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-family: 'OratorStd', sans-serif;
  font-size: 24px;
  text-transform: lowercase;
  letter-spacing: 1px;
  position: absolute;
  flex: 1;
  left: 0;
  right: 0;
  top: 41%;
  transition-property: color;
  transition-duration: 300ms;
}

#SquareDetails {
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-family: 'OratorStd', sans-serif;
  font-size: 15px;
  text-transform: lowercase;
  letter-spacing: 1px;
  position: absolute;
  flex: 1;
  left: 0;
  right: 0;
  bottom: 41%;
  transition-property: color;
  transition-duration: 300ms;
}
