.StyleSquare {
  background-size: cover;
  background-position: center center;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 200px;
  min-height: 200px;
  height: 25vw;
  width: 25vw;
  cursor: pointer;
}

#ContentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: rgba(56, 56, 56, 0);
  background-size: cover;
  cursor: auto;
  transition-property: background;
  transition-duration: 300ms;
  padding: 10%;
  box-sizing: border-box;
}

#ContentContainer:hover {
  background: rgba(56, 56, 56, 0.40);
  transition-property: background;
  transition-duration: 300ms;
}

#ContentContainer:hover .StyleSquareHover {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.expand-square-modal {
  position: absolute;
  top: 7px;
  right: 7px;
}

.expand-square-modal .material-icons {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.00);
  transition-property: color, background;
  transition-duration: 300ms;
}

.StyleSquare:hover .expand-square-modal .material-icons {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
}

#SquareHeader,
#SquareDetails {
  box-sizing: border-box;
  padding: 38% 0 0 0;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-family: 'OratorStd', sans-serif;
  font-size: 18px;
  text-transform: lowercase;
  letter-spacing: 1px;
  flex: 1;
  transition-property: color;
  transition-duration: 300ms;
}

#SquareDetails {
  font-size: 14px;
  padding: 0 0 18% 0;
}