.ShopConsoleItem {
  display: flex;
  background-size: cover;
  background-position: center center;
  background: rgba(220, 220, 220, 0.50);
  flex: 1;
  min-height: 250px;
  min-width: 250px;
  max-height: 252px;
  max-width: 252px;
  box-sizing: border-box;
  margin: 5px;
}

#ShopContentContainer {
  display: flex;
  flex: 1;
  background: rgba(56, 56, 56, 0);
  background-size: cover;
  cursor: auto;
  transition-property: background;
  transition-duration: 600ms;
}

#ShopContentContainer:hover {
  background: rgba(56, 56, 56, 0.40);
  cursor: pointer;
  transition-property: background;
  transition-duration: 600ms;
}

#ShopContentContainer:hover .ShopConsoleItemHover {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

#ShopConsoleItemHeader {
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-family: 'OratorStd', sans-serif;
  font-size: 15px;
  text-transform: lowercase;
  letter-spacing: 1px;
  flex: 1;
  left: 0;
  right: 0;
  box-sizing: border-box;
  transition-property: color;
  transition-duration: 300ms;
}

#ShopConsoleDetails {
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-family: 'OratorStd', sans-serif;
  font-size: 15px;
  text-transform: lowercase;
  letter-spacing: 1px;
  position: absolute;
  flex: 1;
  left: 0;
  right: 0;
  bottom: 41%;
  transition-property: color;
  transition-duration: 300ms;
}
